{% extends "hf.html" %}
{% block title %}Account Settings{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            
            <!-- Main content section -->
            <div class="col-md-6 mx-auto" >
                <h3 class="pt-2 pb-2" style="margin-top: 40px">Account Settings</h3>

                <!-- update -->
                <form id="updateNameForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" value="{{ current_user.first_name }}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="surname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="surname" name="last_name" placeholder="Surname" value="{{ current_user.last_name }}" required>
                        <div id="nameUpdateFeedback" class="mt-2"></div>
                        <button type="submit" class="btn btn-primary mt-2">Update user name</button>
                        
                    </div>
                </form>


                <form id="accountSettingsForm" action="{% url 'verify_current_password' %}" method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <br>
                        <h5>Reset Password</h5>

                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" name="current_password" placeholder="Current Password" required>
                            <div id="currentPasswordFeedback" class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="new_password" placeholder="New Password" required>
                            <div id="newPasswordFeedback" class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirm_new_password" placeholder="Confirm New Password" required>
                            <div id="confirmNewPasswordFeedback" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div id="updateFeedback" class="mt-3"></div>
                    <button type="submit" id="updateButton" class="btn btn-primary">Update user password</button>
                </form>

                <div style="padding-top: 40px; padding-bottom: 80px;">
                <!-- Tutors Section -->
                <h5 style="padding-bottom: 20px;">Your Reviews</h5>
                <h6>Your Tutor ads:</h6>
                {% if user_tutors %}
                    {% for tutor in user_tutors %}
                        <div>
                            <p>{{ tutor.subject }}: {{ tutor.description|default:"You did not leave an ad description." }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You haven't post any ad yet.</p>
                {% endif %}

                <!-- UoS Reviews Section -->
                <h6 style="padding-top: 30px;">Your UoS Reviews:</h6>
                {% if user_uos_comments %}
                    {% for comment in user_uos_comments %}
                        <div>
                            <p>{{ comment.uos.code }}-{{ comment.uos.name }}: {{ comment.comment }}</p>

                        </div>
                    {% endfor %}
                {% else %}
                    <p>You haven't left any review yet.</p>
                {% endif %}

                <!-- Location Comments Section -->
                <h6 style="padding-top: 30px;">Your Location Comments:</h6>
                {% if user_location_reviews %}
                    {% for review in user_location_reviews %}
                        <div>
                            <p>{{ review.location.name }}: {{ review.writtenReview }}</p>

                        </div>
                    {% endfor %}
                {% else %}
                    <p>You haven't left any comment yet.</p>
                {% endif %}
            </div>


            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {


            const $updateButton = $("#updateButton");
            const $currentPassword = $("#currentPassword");
            const $newPassword = $("#newPassword");
            const $confirmNewPassword = $("#confirmNewPassword");
            const $updateFeedback = $("#updateFeedback");
            const $currentPasswordFeedback = $("#currentPasswordFeedback");
            const $newPasswordFeedback = $("#newPasswordFeedback");
            const $confirmNewPasswordFeedback = $("#confirmNewPasswordFeedback");
            
            

            

            // Step 1: Initially disable the "Update" button
            $updateButton.prop("disabled", true);

            // Step 2: Enable the "Update" button when all fields are filled
            function checkFields() {
                const areFieldsFilled = $currentPassword.val() && $newPassword.val() && $confirmNewPassword.val();
                $updateButton.prop("disabled", !areFieldsFilled);
            }

            $currentPassword.on("input", checkFields);
            $newPassword.on("input", checkFields);
            $confirmNewPassword.on("input", checkFields);

            // Check current password via AJAX
            function checkAndUpdatePassword() {

                const currentPassword = $currentPassword.val();
                const newPassword = $newPassword.val();
                const confirmNewPassword = $confirmNewPassword.val();
                
                let isValid = true;

                // 1. Check if current password is correct via AJAX
                $.ajax({

                    url: '{% url "verify_current_password" %}',  // Update URL
                    method: 'POST',
                    data: {
                        'current_password': currentPassword,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (!response.is_correct) {
                            $currentPassword.addClass('is-invalid');
                            isValid = false;
                        }

                        // Continue with other validations only if the current password is correct
                        if (isValid) {
                            // 2. Check if new password is the same as current password
                            if (newPassword === currentPassword) {
                                $newPasswordFeedback.text("New password should be different from the current password").css("color", "red").show();
                                $newPassword.addClass('is-invalid');
                                isValid = false;
                            }

                            // 3. Check if confirm password matches the new password
                            if (newPassword !== confirmNewPassword) {
                                $confirmNewPasswordFeedback.text("Passwords do not match").css("color", "red").show();
                                $confirmNewPassword.addClass('is-invalid');
                                isValid = false;
                            }

                            if (isValid) {
                                // All checks passed, update password
                                updatePassword(newPassword);
                            }
                        }
                    },
                    error: function(xhr, status, error) {

                    var responseJSON = {};
                    try {
                        responseJSON = JSON.parse(xhr.responseText);
                    } catch (e) {
                        console.error("Failed to parse response text as JSON:", xhr.responseText);
                    }

                    var errorMessage = responseJSON.message || "An error occurred. Please try again later.";
                    $currentPasswordFeedback.text(errorMessage).css("color", "red").show();
                }
                });
        }

        $currentPassword.on("input", function() {

            $currentPasswordFeedback.hide();
            $currentPassword.removeClass('is-invalid');

            checkFields();
        });

        $newPassword.on("input", function() {

            $newPasswordFeedback.hide();
            $newPassword.removeClass('is-invalid');

            checkFields();
        });

        $confirmNewPassword.on("input", function() {

            $confirmNewPasswordFeedback.hide();
            $confirmNewPassword.removeClass('is-invalid');

            checkFields();
        });
        
        

        function updatePassword(newPassword) {
            $.ajax({
                url: '{% url "update_password" %}',  // Update URL
                method: 'POST',
                data: {
                    'new_password': newPassword,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        $updateFeedback.text("Your password is updated").css("color", "green").show();
                    } else {
                        $updateFeedback.text("Failed to update password").css("color", "red").show();
                    }
                },
                error: function() {
                    $updateFeedback.text("An error occurred").css("color", "red").show();
                }
            });
        }

        $updateButton.on("click", function(e) {
            e.preventDefault();
            checkAndUpdatePassword();
        });
        


        // name update part
        $("#updateNameForm").on("submit", function(e) {
            e.preventDefault();

            let firstName = $("#firstName").val();
            let lastName = $("#surname").val();

            $.ajax({
                url: '{% url "updateName" %}',  
                method: 'POST',
                data: {
                    'first_name': firstName,
                    'last_name': lastName,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function(response) {
                    if(response.success) {
                        $("#nameUpdateFeedback").text("User name is successfully updated").css("color", "green");
                        $(".nav-name").text(firstName + " ");
                    } else {
                        $("#nameUpdateFeedback").text("Failed to update name").css("color", "red");
                    }
                },
                error: function() {
                    $("#nameUpdateFeedback").text("An error occurred").css("color", "red");
                }
            });
        });

        $("#firstName, #surname").on("input", function() {
            $("#nameUpdateFeedback").text("");
        });
        

    });





    </script>

{% endblock %}





