{%extends "hf.html"%}{%block title%}Help{%endblock%} {%block content%} 
{% load static %}

<style>
    /* Custom CSS for adding margin on small screens */
    @media (max-width: 576px) {
        .sd-margin {
            margin-bottom: 15px;
    }
</style>

<div class="text-center">
    <h1>Reach Our Team</h1>
    <br />
    <p>
        Below you can find our contact information, find answers to any
        questions you may have and leave feedback!
    </p>
    <br />
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-sm sd-margin bg-light mx-3 rounded">
            <h3 class="mt-5 mb-4">Contact Us</h3>
            <img
                class="rounded-0 mb-4"
                style="width: 50x; height: 50px"
                src="/static/images/email-icon.png"
                alt=""
            />
            <p class="mb-5">reviewsyd@email.com</p>
        </div>

        <div class="col-sm sd-margin bg-light mx-3 rounded">
            <a
                href="{% url 'faq' %}"
                style="text-decoration: none; color: inherit"
            >
                <h3 class="mt-5 mb-4">FAQ</h3>
                <img
                    class="rounded-0 mb-4"
                    style="width: 50x; height: 50px"
                    src="/static/images/faq-icon.png"
                    alt=""
                />
                <p class="mb-5">Search for common questions</p>
            </a>
        </div>

        <div class="col-sm sd-margin bg-light mx-3 rounded">
            <a
                href="{% url 'feedback' %}"
                style="text-decoration: none; color: inherit"
            >
                <h3 class="mt-5 mb-4">Leave Feedback</h3>
                <img
                    class="rounded-0 mb-4"
                    style="width: 50x; height: 50px"
                    src="/static/images/feedback-icon.png"
                    alt=""
                />
                <p class="mb-5">Provide feedback for our site</p>
            </a>
        </div>
    </div>
</div>

{%endblock%}
