{%extends "hf.html"%}{%block title%}location{%endblock%}
{%block content%}
{% load static %}
    <div class="px-5">
        <br>
        <br>
        <div class="font-weight-bold h1 pb-3 text-center">{{location.name}}</div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                {% if location.location != "" %}
                    <div class="row" style="font-size: 18px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map-fill col-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                        </svg>
                        <div class="col-11">{{location.location}}</div>
                    </div>
                {%endif%}
                <br>
                {% if location.phone_number != "" %}
                    <div class="row" style="font-size: 18px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill col-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <div class="col-11">{{location.phone_number}}</div>
                    </div>
                {%endif%}
                <br>
                {% if location.hours != "" %}
                    <div class="row" style="font-size: 18px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill col-1" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        </svg>
                        <div class="col-11">{{location.hours}}</div>
                    </div>
                {%endif%}
                <br>
                {% if location.website != "" %}
                    <div class="row" style="font-size: 18px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome class=1 col-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                        </svg>
                        <a class="col-11" href='{{location.website}}'>{{location.name}}'s Website</a>
                    </div>
                {%endif %}
                <br>
                {% if location.amenities.all %}
    <div class="row" style="font-size: 18px;">
        {% for amenity in location.amenities.all %}
            <div class="col-md-4">
                <img src="{{amenity.image.url}}" alt="{{ amenity.name }}" style="width: 100px; height: 100px; margin-right: 20px;">
                <div>{{ amenity.name }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}


            </div> 
            <div class="col-6">
                {% if location.image%}
                    <div class="col-6" style="margin-left: 150;">
                        <img src="{{ location.image.url }}" alt="Location Image" style="width: 500px; height: 500px;">
                    </div>
                {%else%}
                    <img src="{% static 'images/default_location.png' %}" alt="Location Image" style="width: 500px; height: 500px;">
                {%endif%}
            </div>
        </div>
        <div class="mx-auto w-50">
            <div class="w-100 border-0">
                <div class="row py-2">
                    <div class="col-4 mx-auto">
                        <div class="card">
                            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="width: 250px; height: 100px;">
                                <h5 class="card-title">Cleanliness Rating</h5>
                                <p class="card-text">{{location.avgClean}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mx-auto">
                        <div class="card">
                            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="width: 250px; height: 100px;">
                                <h5 class="card-title">Amenities Rating</h5>
                                <p class="card-text">{{location.avgAmen}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mx-auto">
                        <div class="card">
                            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="width: 250px; height: 100px;">
                                <h5 class="card-title">Noise Level Rating</h5>
                                <p class="card-text">{{location.avgNoise}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div style="text-align: right;">
                        <a class="btn btn-outline-primary" href='/location/{{location.name}}/reviews/' style="margin-left: -225px; margin-top: 15px;">See Ratings and Reviews</a>
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row"  style="margin-bottom: 50px;">
            <div class="col-6 h4">
                Nearby POI
                <br><br>
                {% for nearby_location in location.nearby.all %}
                    <div>
                        <button class="btn btn-link btn-block mb-2" onclick="location.href='/location/{{ nearby_location.name }}/'">
                            <u>{{ nearby_location.name }}</u>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{%endblock%}

