{%extends "hf.html"%}{%block title%}Location List{%endblock%}
{%block content%}
{% load static %}

<style>
    .row>* {
        padding-left: 0;
        padding-right: 0;
    }

    .map-button {
        background-color: #E74726; 
        border: 2px #E74726; 
        color: white; 
        padding: 10px 20px;
        text-decoration: none; 
    }

    .map-button:hover {
        background-color: white; 
        border: 2px #E74726; 
        color: #E74726; 
    }
</style>

<div class="font-weight-bold h1 pb-3 text-center" style="margin-top: 40px" >Locations</div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="input-group rounded py-3">
                <input type="search" id="search" class="form-control rounded" style="height: 42px;" placeholder="Search for locations..." aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <a href ="{% url 'locationsMap' %}" class="map-button rounded" style="border: 2px solid;">View locations as a map</a>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 100px;">
    <div id="locations" class="pt-2 text-center d-flex justify-content-center flex-wrap">
        {%for location in locations%}
            <div class="card col-3 m-2">
                <a
                    href="{% url 'location' location.name %}"
                    style="text-decoration: none; color: inherit"
                >
                    {% if location.image%}
                        <img src="{{ location.image.url }}" class="card-img-top" style="height: 240px;" alt="Location Image">
                    {%else%}
                        <img src="{% static 'images/default_location.png' %}" style="height: 240px;" alt="Location Image">
                    {%endif%}
                    <div class="card-body">
                        <h6 class="card-text">{{ location.name }}</h6>
                        <p class="mb-0">
                            <span class="card-text">{{location.avgOverall}}</h6>
                            <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" >
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </p>
                    </div>
                </a>
            </div>
        {%endfor%}  
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#locations .card").filter(function() {
            $(this).toggle($(this).find(".card-text").text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{%endblock%} 