{%extends "hf.html"%}{%block title%}location{%endblock%}
{%block content%}
    <div class="px-5">
        <div class="font-weight-bold h1 pb-3">{{location.name}}</div>
        <div class="row">
            <div class="col-6">
                <div>{{location.location}}</div>
                <div>{{location.phone_number}}</div>
                <div>{{location.hours}}</div>
                <div>{{location.website}}</div>
            </div>
            <div class="col-6">
                pic/features
            </div>
        </div>
        <div class="d-flex justify-content-center">Rating</div>
        <div class="row">
            <div class="col-6">
                nearby POI
            </div>
            <div class="col-6">
                nearby spaces
            </div>
        </div>
    </div>
{%endblock%}