{%extends "hf.html"%}{%block title%}Privacy{%endblock%}
{%block content%}
    <p>
        <h1>
            Privacy Policy
        </h1>
        <p>This Policy was last reviewed and updated on 21 September 2023</p>
        <p>
            ReviewSyd values and respects the privacy of the people we deal with. 
            ReviewSyd is committed to protecting your privacy and complying with 
            the Privacy Act 1988 (Cth)(Privacy Act) and other applicable privacy 
            laws and regulations.
        </p>
        <p>
            This Privacy Policy(Policy) describes how we collect, hold, use and
            disclose your personal information, and how we mantain the quality
            and security of your personal information.
        </p>
        <h3> What is personal information?</h3>
        <p>
            "Personal information" means any information or opinion, whether
            true or not, and whether recorded in a material form or not, about
            an identified individual or an individualwho is resonably identifiable.
            In general terms, this includes information or an opinion that personally
            identifies you either directly (e.g. your name) or indirectly.
        </p>
        <h2> What personal information do we collect?</h2>
        <p>
            The personal information we collect about you depends on the nature of
            your dealings with us or what you choose to share with us.
        </p>
        <p> The personal information we collect about you may include:</p>
        <ul>
            <li>name</li>
            <li>email address</li>
            <li>student id</li>
        </ul>
        <p> You do not have to provide us with you personal information. However,
            if you choose not to provide us iwth you personal information, we may not
            be able to provide you with our services or otherwise interact with you.
        </p>
        <h3> How do we collect your personal information?</h3>
        <p>We collect your personal information directly from you when you interact with
            us online.
        </p>
        <h3>How do we use your personal information</h3>
        <p>We use personal information for many purposes in connection with our functions
            and activities, including the following purposes:
        </p>
        <ul>
            <li>provide you with information or services that you request from us</li>
            <li>internal administrative purposes</li>
            <li>connect you with others that use our services</li>
        </ul>
        <h3>How do we protect your personal information?</h3>
        <p>ReviewSyd will take reasonable steps to ensure that the personal information
            that we hole about you is kept confidential and secure, including by:
        </p>
        <ul>
            <li>taking measures to restrict access to only personnel who need that personal
                information to effectively provide services to you
            </li>
            <li>
                having technological measures in place
            </li>
        </ul>
        <h3>Online activity</h3>
        <p>The ReviewSyd website uses cookies. A cookie is a small file of letters and numbers
            the website puts on your device if you allow it. These cookies recognise when your
            device has visited our website before, so we can distinguish you from other users
            of the website. This improves your experience and the ReviewSyd website. We do not
            use cookies to identify you, just to improve your experience on our website. If
            you do not wish to use the cookies, you can amend the settings on your internet
            browser so it will not automatically download cookies. However, if you remove or
            block cookies on you computer, please be aware that your browsing experience and
            our website's functionality may be affected.
        </p>
        <h3>Retention of personal information</h3>
        <p>We will not keep your personal information for longer than we need to. In most
            cases, this means that we will only retain your personal information for the
            duration of your relationship with us unless we are required to retain your personal
            information to comply with applicable laws, for example record-keeping obligations.
        </p>
        <h3>How to access and correct your personal information</h3>
        <p>ReviewSyd will endeavour to keep your personal information accurate, complete
            and up to date. If you with to make a request and/or correct the personal information
            we hold about you, you can make changes to your personal information in you account
            settings page.
        </p>
        <h3>Links to third party sites</h3>
        <p>ReviewSyd website may contain linkes to websites operation by third parties. If you
            access a third party website through our website, personal information may be collected
            by that third party website. We make no representations or warranties in relation to
            the privacy policies or the content of any third party provider or website. Third 
            party providers/websites are responsible for informing you about their own privacy 
            practices and we encourage you to read their privacy policies.
        </p>
        <h3>Inquiries and complaints</h3>
        <p>For complaints about how ReviewSyd handles, processes, or manages you personal information, 
            please use our feedback page. Note we may require full details of your request before
            we can process your complaint. It will not always be possible to resolve a complaint 
            to everyone's satisfaction. If you are not satisfied with ReviewSyd's response to a 
            complaint, you have the right to contact the Office of Australian Information Commssioner(
                at www.oaic.gov.au/) to lodge a complaint.
        </p>
        <h3>How to contact us</h3>
        <p>If you have a question or concern in relation to our handling of your personal information 
            or this Policy, you can contact us for assistance using the help or feedback pages.
        </p>
    </p>
{%endblock%}