{% extends "hf.html" %}
{% block title %}Request Password Reset{% endblock %}
{% block content %}

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; 
        font-size: 1.5em; 
        text-align: center; 
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%; 
    }
    form br {
        margin-bottom: 10px;
    }
</style>

<div class="center-content">
    <h2>Forgot your password?</h2>
    <p>Enter your email address and we'll send you a link to reset your password.</p>
    

    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }} {{ form.email }}
        <br>
        {% if form.email.errors %}
            <p style="color: red;">This is not a valid email address.</p>
        {% endif %}
        <input type="submit" value="Send Reset Email">
    </form>
    {% if success_message %}
        <p id="successMessage" style="color: green;">{{ success_message }}</p>
    {% endif %}

    {% if message %}
        <p id="errorMessage" style="color: red;">{{ message }}</p>
    {% endif %}
    
</div>

<script>
    document.querySelector('#id_email').addEventListener('keyup', function() {
        document.querySelector('#errorMessage').style.display = 'none';
    });

    document.querySelector('#id_email').addEventListener('keyup', function() {
        document.querySelector('#successMessage').style.display = 'none';
    });
</script>


{% endblock %}
