{% extends "hf.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* use full viewport height */
        font-size: 1.5em; /* increase the font size */
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form br {
        margin-bottom: 10px;
    }
</style>

<div class="center-content">
    <h2>Reset Your Password</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.new_password.label_tag }} {{ form.new_password }}
        <br>
        {{ form.confirm_password.label_tag }} {{ form.confirm_password }}
        <br>
        {% if form.non_field_errors %}
            <span id="errorMessage" style="color: red;">{{ form.non_field_errors.0 }}</span>
            <br>
        {% endif %}
        <input type="submit" value="Reset Password">
    </form>
</div>

<script>
    document.querySelector('#id_new_password').addEventListener('keyup', function() {
        document.querySelector('#errorMessage').style.display = 'none';
    });
    document.querySelector('#id_confirm_password').addEventListener('keyup', function() {
        document.querySelector('#errorMessage').style.display = 'none';
    });
</script>

{% endblock %}
