{% extends "hf.html" %}
{% block title %}Sign Up Completion{% endblock %}
{% block content %} 
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 45vh;">
        <div class="col-md-4">
            <div class="text-center">
                <h3 class="py-4 px-3">Sign Up Completed</h3>
            </div>
            <div class="message" style="font-size: 64px; text-align: center; padding-bottom: 40px;"> 
                Hello, XXXX!
            </div>
            <div class="message">
                Check your inbox to confirm your email address.
            </div>
        </div>
    </div>
{% endblock %}
