{%extends "hf.html"%}{%block title%} Terms and Conditions{%endblock%}
{%block content%}
    <div class="text-center" style="margin-top: 40px">
        <h1>
            ReviewSyd Terms and Conditions
        </h1>
        <h5>This Policy was last reviewed and updated on 11th October 2023.</h5>
    </div>
    <div class="container mt-4"> 
        <div class="row">
            <div class="col-12" style="margin-bottom: 80px;">
                <p>
                    Please read these Terms and Conditions carefully before using the ReviewSyd website. Your access 
                    to and use of the service is conditioned on your acceptance of and compliance with these terms. 
                    These terms apply to all visitors, users, and others who access or use the service. By accessing 
                    or using the service, you agree to be bound by these terms. If you disagree with any part of the terms, 
                    then you may not access the service.
                </p>
                <h5>Content</h5>
                <p>
                    Our service allows you to post, link, store, share, and otherwise make available certain information, text, 
                    graphics, videos, or other material ("content"). You are responsible for the content that you post on or through 
                    the service, including its legality, reliability, and appropriateness.
                    <br>
                    By posting content on or through the service, you represent and warrant that:
                    <ol>
                        <li>
                            You have the right to post the content and grant us the right to use it in accordance with these terms.
                        </li>
                        <li>
                            The content does not violate any applicable laws, regulations, or rights of any third party.
                        </li>
                    </ol>
                </p>
                <h5>Accounts</h5>
                <p>
                    When you create an account with us, you must provide accurate, complete, and current information at all times. 
                    Failure to do so constitutes a breach of the terms, which may result in immediate termination of your account 
                    on our service. You are responsible for safeguarding the password that you use to access the service and for 
                    any activities or actions under your password, whether your password is with our service or a third-party.
                </p>
                <h5>Termination</h5>
                <p>
                    We may terminate or suspend access to our service immediately, without prior notice or liability, for any reason whatsoever, 
                    including without limitation if you breach the terms.
                    <br>
                    All provisions of the terms which by their nature should survive termination shall survive termination, including, without limitation, 
                    ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
                </p>
                <h5>Links To Other Websites</h5>
                <p>
                    Our service may contain links to third-party websites or services that are not owned or controlled by us. We have no control over, and 
                    assume no responsibility for the content, privacy policies, or practices of any third-party websites or services. You further acknowledge 
                    and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or 
                    in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.
                </p>
                <h5>Changes</h5>
                <p>
                    We reserve the right, at our sole discretion, to modify or replace these terms at any time. If a revision is material, we will try to provide 
                    at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                    By continuing to access or use our service after those revisions become effective, you agree to be bound by the revised terms. If you do not 
                    agree to the new terms, please stop using the service.
                </p>
                <h5>Contact Us</h5>
                <p class="sd-margin">
                    If you have a question about these terms, you can contact us for assistance using the help or feedback pages.
                </p>
            </div>
        </div>
    </div>
{%endblock%}