{%extends "hf.html"%}{%block title%}UoS List{%endblock%}
{%block content%}
<div class="font-weight-bold h1 pb-3 text-center" style="margin-top: 40px">UoS List</div>
<div class="input-group rounded w-25 mx-auto py-3">
    <input type="search" id="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
</div>
<div id="UoS" class="mx-auto w-50 pt-2 text-center">
    {%for UoS in UoStudies%}
        <div>
            <button class="w-100" onclick="location.href = '/UoS/{{UoS.name}}/'">
                {{UoS.code}}: {{UoS.name}}
            </button>
        </div>
    {%endfor%}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(()=>{
        $('#search').change((e)=>{
            var search= $('#search').val()
            $.ajax({
                url: '/UoSList/search/',
                type: 'GET',
                data: {'search':search },
                success: (data)=>{
                    var res=$('#UoS')
                    res.empty()
                    if(data.length===0){
                        res.append('<p>No results found</p>')
                    }
                    else{
                        Array.prototype.slice.call(data).forEach((UoS)=>{
                            res.append("<div><button class=\"w-100\" onclick=\"location.href = '\/UoS\/" + UoS.name + "\/'\">" + UoS.code + ": " + UoS.name + "</button></div>")
                        })
                    }
                },
                error: (error)=>{console.log(error)},
            })
        })
    })
</script>
{%endblock%}